<div class="card">
    <div class="card-body">
        <form action="/typereports/create" method="post">
       
            <div class="mb-3">
                <label class="form-label" for="basic-icon-default-fullname">Name Type</label>
                <div class="input-group input-group-merge">
                    <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                    <input type="text" class="form-control" name="name" id="basic-icon-default-fullname" placeholder=""
                        aria-label="John Doe" aria-describedby="basic-icon-default-fullname2" />
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="basic-icon-default-fullname">Time Handle</label>
                <div class="input-group input-group-merge">
                    <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                    <input type="text" class="form-control" name="time_handle" id="basic-icon-default-fullname" placeholder=""
                        aria-label="John Doe" aria-describedby="basic-icon-default-fullname2" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>